.navbar {
  background-color: #53af80;
}

.floating-button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2rem;
  z-index: 2;
}

.floating-button button.mdl-button--fab.mdl-button--colored {
  background-color: #53af80; 
}

.places-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (min-width: 1024px) {
  .places-area {
    flex-direction: row;
  }
}

.card {
  margin: 2rem;
}

.card .title-wrapper {
  background-size: cover;
  height: 180px;
  color: #fff;
}